# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
data/
*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log
